<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
     
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              
                            <li class="active"><a th:href="@{/customer}">Customer</a></li>
              
                            <li class="active"><a href="#">Supplier</a></li>
              
                            <li class="active"><a href="#">Employee</a></li>
              
                            <li class="active"><a href="#">ItemMaster</a></li>
              
                            <li class="active"><a href="#">Transaction</a></li>
              
                            <li class="active"><a href="#">Stocks</a></li>
                            
                            <li class="active"><a href="#">Reports</a></li>
                            
                            <li class="active"><a href="#">Logout</a></li>
                            
              
            </ul>
          </div>
        </div>
</body>
</html>